@font-face {
  font-family: 'Arita Buri';
  src: url('/src/assets/fonts//Arita-buri-SB.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Arita Buri';
  src: url('/src/assets/fonts/Arita-buri-HL.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Arita Buri';
  src: url('/src/assets/fonts/Arita-buri-B.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  cursor: default;
  overflow-wrap: break-word;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0;
  margin: 0;
}
